[Unit]
Description=Hauptbahnhof %i-Module
After=network-online.target
Requires=mosquitto.service
Before=hauptbahnhof.service

[Service]
Type=simple
User=hauptbahnhof
WorkingDirectory=/usr/local/bin/hauptbahnhof
ExecStart=/usr/local/bin/hauptbahnhof/venv/bin/python3 -m %i


[Install]
WantedBy=multi-user.target
