[Unit]
Description=Hauptbahnhof %i-Module
After=network-online.target mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
User=hauptbahnhof
WorkingDirectory=/srv/hauptbahnhof/repo
ExecStart=/srv/hauptbahnhof/venv/bin/python3 -m %i


[Install]
WantedBy=multi-user.target
