[Unit]
Description=Hauptbahnhof %i-Module
After=network-online.target mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
User=hauptbahnhof
ExecStart=/usr/bin/python3 -m hauptbahnhof.%i


[Install]
WantedBy=multi-user.target
